<mat-card class="login-card">
  <h1 style="color: rgb(57,146,196) !important;"><img src="assets/logo.png" style="width: 100px" alt=""> Smart-Parking </h1>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" />
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
        Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" />
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
        Password is required
      </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Minimum 6 characters
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
</mat-card>
<div style="margin-top: 1rem; text-align: center;">
  <a routerLink="/register" style="text-decoration: none; color: #3f51b5; font-weight: bold;">
    Créer un compte ?
  </a>
</div>
<div style="margin-top: 1rem; text-align: center;">
  <a routerLink="/forget-password" style="text-decoration: none; color: #3f51b5; font-weight: bold;">
   mot de passe oubliée ?
  </a>
</div>
